<?xml version="1.0" encoding="utf-8"?>
<widget id="TicTacToe" version="0.0.1">
  <name>TicTacToe</name>
  <description>
    TicTacToe
  </description>
  <author email="mail_s@walla.com" >
    Shlomi Ze'evi
  </author>
  <content src="index.html" />
  <access origin="*" />
  <icon src="icon.png" />
</widget>