<?xml version="1.0" encoding="utf-8"?>
<widget id="TicTacToe" version="0.0.1">
  <name>TicTacToe</name>
  <description>
    TicTacToe
  </description>
  <author email="mail_s@walla.com" >
    Shlomi Ze'evi
  </author>
  <content src="index.html" />
  <access origin="*" />
  <icon src="icon.png" />
  <icon src="ldpi.png" platform="android" qualifier="ldpi" />
  <icon src="mdpi.png" platform="android" qualifier="mdpi" />
  <icon src="hdpi.png" platform="android" qualifier="hdpi" />
  <icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
  <icon src="xxhdpi.png" platform="android" qualifier="xxhdpi" />
  <icon src="fr-xxhdpi.png" platform="android" qualifier="fr-xxhdpi" />
</widget>